<html>
<link rel="stylesheet" href="/static/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<body>


    <div class="row"  >
        <h1 style="text-align:center"  class="col-md-2 col-md-offset-5"  >Checkmate</h1>

        <form method="POST" action="/start/">
            {% csrf_token %}
            <input class="col-md-2 col-md-offset-5 btn btn-default" style="margin-bottom:5px" type="submit" value="Start a new game">
        </form>
        <form method="POST" action="/connect/">
            {% csrf_token %}
            <input class="col-md-2 col-md-offset-5 btn btn-default" type="submit" value="Connect a game">
        </form>
    </div>

</body>
</html>
