{% comment %} 

# This file is part of Checkmate. 
# 
# This program is free software: you can redistribute it and/or modify 
# it under the terms of the GNU General Public License as published by 
# the Free Software Foundation, either version 3 of the License, or 
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License 
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# 
# Copyright 2015 Ozge Lule(ozge.lule@ceng.metu.edu.tr), 
#                Esref Ozturk(esref.ozturk@ceng.metu.edu.tr)

{% endcomment %} 

<html>
<body>
<link rel="stylesheet" href="/static/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<div class="row" style="margin-top:100px"  >

    <form class="col-md-2 col-md-offset-5" method='POST' action='/play/' enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <input  class="btn btn-default" style="text-align:center" type='submit' name='operation' onClick="func();" value='Connect'>
    </form>

</div>

</body>

<script>
    $("select").addClass("btn btn-default dropdown-toggle");
    $("input").addClass("form-control");

</script>

</html>
