{% comment %} 

# This file is part of Checkmate. 
# 
# This program is free software: you can redistribute it and/or modify 
# it under the terms of the GNU General Public License as published by 
# the Free Software Foundation, either version 3 of the License, or 
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful, 
# but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License 
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# 
# Copyright 2015 Ozge Lule(ozge.lule@ceng.metu.edu.tr), 
#                Esref Ozturk(esref.ozturk@ceng.metu.edu.tr)

{% endcomment %} 

<html>
<link rel="stylesheet" href="/static/bootstrap.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<body>


    <div class="row"  >
        <h1 style="text-align:center"  class="col-md-2 col-md-offset-5"  >Checkmate</h1>

        <form method="POST" action="/start/">
            {% csrf_token %}
            <input class="col-md-2 col-md-offset-5 btn btn-default" style="margin-bottom:5px" type="submit" value="Start a new game">
        </form>
        <form method="POST" action="/connect/">
            {% csrf_token %}
            <input class="col-md-2 col-md-offset-5 btn btn-default" type="submit" value="Connect a game">
        </form>
    </div>

</body>
</html>
