<html>
<title>Game id: {{gameid}}</title>
<body>

{% load staticfiles %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="../static/bootstrap.css">
<style>
#draggable { width: 150px; height: 150px; padding: 0.5em; }
</style>
<script>
$(function() {
	$( "#chessboard tr td img" ).draggable({containment : "#boardtable"  });
	$('#chessboard tr td img').droppable( {
//		activeClass: "ui-state-default",
//		hoverClass: "ui-drop-hover",
//		accept: ":not(.ui-sortable-helper)",
//		over: function (event, ui) {
//		var $this = $(this);
//		},
	    drop: handleDropEvent
		  } );
});

function handleDropEvent( event, ui ) {
  var draggable = ui.draggable.attr('name');
  var droppable = $(this).attr("name");
    alert( 'The square with ID "' + draggable+ '" was dropped onto me!'+ droppable );
	event.preventDefault();
	document.getElementsByName('moves')[0].value += draggable;
	document.getElementsByName('moves')[0].value += droppable;
	alert(draggable+droppable);
	control();
}


</script>
<div name="boardimage" >
    <img  src="{% static "board.gif" %}" width="640px" height="640px" style="position: absolute;left:20px;top:20px;" />
</div>



<div id="boardtable" style="position:absolute;left:20px;top:20px;" >
    <table name="boardtable" id="chessboard" border="0"  cellpadding="0" cellspacing="0" >
        {% for row in board %}
            <tr>
            {% for cell in row %}
                <td >

                    {% if cell.0 == "r"  %}
                        <img class="cell" name="{{ cell.1 }}"  src="{% static "black_rook.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "n"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "black_knight.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "b"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "black_bishop.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "q"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "black_queen.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "k"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "black_king.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "p"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "black_pawn.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "R"  %}
                        <img class="cell" name="{{ cell.1 }}"  src="{% static "white_rook.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "N"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "white_knight.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "B"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "white_bishop.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "Q"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "white_queen.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "K"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "white_king.png" %}" width="80px" height="80px"/>
                    {% elif cell.0 == "P"  %}
                        <img class="cell" name="{{ cell.1 }}" src="{% static "white_pawn.png" %}" width="80px" height="80px"/>
                    {% else %}
                        <img class="cell" name="{{ cell.1 }}"  src="{% static "blank.gif" %}" width="80px" height="80px"/>
                    {% endif %}

                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<input type="hidden" name="moves">
<input type="hidden" name="color" value="{{color}}">


<div style="position:absolute;left:680px;top:20px;" >
    <table id="historytable" border="2"  cellpadding="0" cellspacing="0" >
            <tr style="display:block;" >
                <th>White</th>
                <th>Black</th>
            </tr>
        <tbody style="height:400px;overflow:auto;display:block;" >
            {% for row in history %}
                <tr>
                    <td  >
                        {{ row.0 }}
                    </td>
                    <td  >
                        {{ row.1 }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
</div>

<div style="display:block;position:absolute;left:800px;top:20px;" >
    <label>Depth:</label>
    <input id="depth" type="number" value="{{depth}}">
</div>

<div style="position:absolute;left:1100px;top:20px;" >
    <input id="newgame" type="button" value="New Game">
</div>

<div style="position:absolute;left:800px;top:100px;" >
    <form id="book" action="/play/" method="post" enctype="multipart/form-data" >
        {{bookForm.as_p}}
        {% csrf_token %}
        <input type="hidden" name="operation" value="book" >
    </form>
</div>

<div style="position:absolute;left:800px;top:200px;" >
    <input id="enablebook" type="checkbox" value="enabled">Enable Book
</div>

<div style="position:absolute;left:800px;top:300px;" >
    <label>Book Mode:</label>
    <select>
        <option value="best">Best</option>
        <option value="random" selected="selected">Random</option>
        <option value="worst">Worst</option>

    </select>
</div>

<div style="position:absolute;left:1100px;top:100px;" >
    <input id="hint" type="button" value="Hint">
</div>

<div style="position:absolute;left:1100px;top:200px;" >
     <label>Save:</label>
    <input id="save" type="text">
</div>

<div style="position:absolute;left:1100px;top:300px;" >
     <label>Load:</label>
    <input id="load" type="text">
</div>

<div style="position:absolute;left:800px;top:400px;" >
    <input id="exit" type="button" value="Exit">
</div>

<div style="position:absolute;left:1100px;top:400px;" >
    <input id="kill" type="button" value="Give Up!">
</div>

<div align="middle">
    <img id="pure_white" style="position:absolute;left:0px;top:0px;opacity:0.5;" src="{% static "pure_white.png" %}" hidden="true">
    <img id="loader" style="position:absolute;left:200px;top:200px;opacity:0.5;" src="{% static "loader.gif" %}" hidden="true" >
</div>

<script>

//$(".cell").click( function() { document.getElementsByName('moves')[0].value += this.name; control();  });


$("#id_book").change( function( ) {

    $("#book")[0].submit();

 } )


$("#save").keypress( function( e ){

    if( e.keyCode == 13 )
    {
        make_get('{"op":"play","params":["save","'+ this.value +'"]}' ,function(data){
            $("#save").val('');
    } );
    }

} );

$("#load").keypress( function( e ){

    if( e.keyCode == 13 )
    {
        make_get('{"op":"play","params":["load","'+ this.value +'"]}' ,function(data){
            $("#load").val('');
            update_board_and_history(data);
            $('[name="moves"]').val('');
            $("#depth")[0].value = 3;
    } );
    }

} );


$("#hint").click(  function(){

    make_get('{"op":"play","params":["hint"]}' ,function(data){

            alert(data.hint);

    } );

} );

function make_get( data , func )
{
    $("#pure_white").show();
    $("#loader").show();
    $.get('/handlepost/','query='+data+'&color={{color}}&gameid={{gameid}}',function(data){ func(data);$("#pure_white").hide(); $("#loader").hide();  },'json');
}


$("#depth").change( function() {
  make_get('{"op":"play","params":["setdepth","'+ this.value +'"]}' , function(data){

  });


  });

$("#enablebook").change(function(){

    make_get('{"op":"play","params":["enablebook","'+ $("#enablebook")[0].checked +'"]}' ,function(data){

    } );

});

$("#exit").click(function(){

    make_get('{"op":"exit"}' ,function(data){
        document.cookie = "gameid=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        document.cookie = "color=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        window.location="/";

    } );

});


$("#kill").click(function(){

    make_get('{"op":"kill"}' ,function(data){
        document.cookie = "gameid=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        document.cookie = "color=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        window.location="/";
    } );

});


$("#newgame").click( function() {

    make_get('{"op":"play","params":["newgame"]}' ,function(data){

            update_board_and_history(data);

    } );
    $('[name="moves"]').val('');
    $("#depth")[0].value = 3;

});



function update_board_and_history(data){
    for(var i=0;i<8;i++)
    {
        for(var j=0;j<8;j++)
        {
            var loc = String.fromCharCode('a'.charCodeAt(0)+j) + (8-i);
            var cell = $('[name="'+loc+'"]');
//drag dropta sorun cıkıyo boyle 
// img silinip yeniden yaratılabilir
            if(data.board[i][j]=="r")
                cell.attr("src","/static/black_rook.png" );
            else if(data.board[i][j]=="n")
                cell.attr("src","/static/black_knight.png" );
            else if(data.board[i][j]=="b")
                cell.attr("src","/static/black_bishop.png" );
            else if(data.board[i][j]=="q")
                cell.attr("src","/static/black_queen.png" );
            else if(data.board[i][j]=="k")
                cell.attr("src","/static/black_king.png" );
            else if(data.board[i][j]=="p")
                cell.attr("src","/static/black_pawn.png" );
            else if(data.board[i][j]=="R")
                cell.attr("src","/static/white_rook.png" );
            else if(data.board[i][j]=="N")
                cell.attr("src","/static/white_knight.png" );
            else if(data.board[i][j]=="B")
                cell.attr("src","/static/white_bishop.png" );
            else if(data.board[i][j]=="Q")
                cell.attr("src","/static/white_queen.png" );
            else if(data.board[i][j]=="K")
                cell.attr("src","/static/white_king.png" );
            else if(data.board[i][j]=="P")
                cell.attr("src","/static/white_pawn.png" );
            else
                cell.attr("src","/static/blank.gif" );
        }
    }

    historytable = $("#historytable tbody")[1];
    historytable.innerHTML = "";

    for(var i=0;i<data.history.White.length;i++)
    {
        var current = historytable.insertRow();
        current.innerHTML = "<td>" + data.history.White[i] + "</td><td>" + data.history.Black[i] + "</td>";
    }

}

function control()
{

    if( $('[name="moves"]').val().length == 4 )
    {
        make_get('{"op":"play","params":["nextmove","{{color}}","'+$('[name="moves"]').val()+'"]}' ,function(data){

            if(data.success==false)
            {
                alert('Invalid move');
            }
            update_board_and_history(data);

        } );


        $('[name="moves"]').val('');



    }
}



</script>

</body>
</html>
